<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">

    {% block stylesheets %}
        {# Si besoin, on peut ajouter ici des liens vers des CSS externes #}
        {# Ex : <link rel="stylesheet" href="https://cdn.example.com/some-lib.css"> #}
        <link rel="stylesheet" href="{{ asset('css/fixtures.css') }}">
        <link rel="stylesheet" href="{{ asset('css/players.css') }}">

    {% endblock %}
    
    {% block javascripts %}

        <script src="{{ asset('js/season-select.js') }}"></script>
        <script src="{{ asset('js/team-tabs.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% include 'header.html.twig' %}
    {% block body %}{% endblock %}
</body>
</html>
